* {
    box-sizing: border-box;
}

.interior {
    position: absolute;
    height: 100px;
    width: 100px;
}

.div1 {
    top: 10px;
    left: 75px;
    background: red;
}

.div2 {
    top: 10px;
    left: 220px;
    background: orange;
}

.div3 {
    top: 100px;
    left: 180px;
    background: yellow;
}

.div4 {
    top: 60px;
    left: 95px;
    background: blue;
}

.div5 {
    top: 45px;
    left: 20px;
    background: plum;
}