* {
    box-sizing: border-box;
}

.interior {
    position: relative;
    height: 100px;
    width: 100px;
    background: blue;
}

.div1 {
    top: 0;
    left: 0;
}

.div2 {
    top: -100px;
    left: 120px;
}

.div3 {
    top: -80px;
    left: 0;
}

.div4 {
    top: -180px;
    left: 120px;
}

.div5 {
    top: -340px;
    left: 60px;
    background: red;
}